.footer {
  padding: 30px 0;
  background-color: #2c364a;;
  &__container {
    display: flex;
    align-items: center;
  }
  &__row { 
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer__policy {
  p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #969ba5;
  }
}

.footer__social {
  margin-top: 20px;
}

.footer__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30px;
  height: 30px;
  background-color: #4f5a6b;
  border-radius: 4px;
  margin-right: 10px;
  &:before {
    content: '';
    float: left;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  &:last-child {
    margin-right: 0;
  }
}

.social-icon-01:before {
  flex: 0 0 15px;
  height: 10px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTUiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNSAxMCI+DQogIDxpbWFnZSBpZD0idmsiIHdpZHRoPSIxNSIgaGVpZ2h0PSIxMCIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFBOEFBQUFLQ0FZQUFBQnJHd1Q1QUFBQUJITkNTVlFJQ0FnSWZBaGtpQUFBQVJWSlJFRlVLRk45a2I5TFFsRVlodTlGeUlRTW1rSUlGUkpxcUQ4Z0tIQnRDQ2NGUWJEYWd3Z1hGeGZKVFJxYmdnYVh5TW1wMmxLd3NWR2hJaHFhR3FRaEVnbHV6d3ZmZ2NzZFBQRHdmai9PZTc3RE9YNFFCT3VlNXlYaEc5NUJLd1dyRm4raG54YkgwQzN3NGNQSFBDYllnQ21rUVpzdjROUU1kK2kreFdkbzIrS2F6RmNreDY1Z3pVMTBaTFZITkErTDhBSnJOaWdyOHk3SndEYStvVEl1d1NSaXJwTzNyTlpFR3pJckg4S09OVTdRVHNTczZ6N0JBcnpDdHFZN2MzajZENDB5OU95d1gvUVA5S2hhSmJoVjRNeUtyNkZxRytiSkE4MERtSVhOS3hTZUlSTng2cEV1NFJ3UzF0T2dvN0JaOVJ6b2EvVDNicm5YM3FOd0h6cmdNR3FXWVJuMHNoWFF0M1NoYUNjVjBCdUlRLzhmSUt0UXFDa3hSejBBQUFBQVNVVk9SSzVDWUlJPSIvPg0KPC9zdmc+DQo=');
}
.social-icon-02:before {
  flex: 0 0 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQogIDxpbWFnZSBpZD0iaW5zdGFncmFtIiB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhsaW5rOmhyZWY9ImRhdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBQkFBQUFBUUNBWUFBQUFmOC85aEFBQUFCSE5DU1ZRSUNBZ0lmQWhraUFBQUFURkpSRUZVT0UrbGt6OUxRbEVZaHhWZG1rcHdEaHRxVGFqQk9USm9xS1UxUDBGVG9tT1lyb2Jpb0YrZ1BvRU5VVUd6ZzRITkRZVzBCamFFUzNGN2Z2Q2VTeDNVUzl3REQrODU3N25uOS82NTV5U0RJRWpZU0dQM0lROHA1L1RzTitzUjNNQ1g5cEltc01xOEQ1dHpEdnJ1Snh5SE1KYUFJZzloRFU1TVhaRm1EV1dtTEx2d0F0c1NPTERvSmV4VlJBWjM3TC9CQTF3cUN3bWNNV2xBRnQ1TllNbXlLZHI2SHRzRDFUK0dJNWhBWFFMblRHcVFNYWNPSzBJQlhrMGdoeDNBTG55YVQ5M3Z6Qktvc05HRU1yVHQ0MU5zQzZwd0VTVnd5d2Nib0tiK0htcmFNK3hGQ2FoUjYzRUVZcGV3cUlrN1pEYjFTMWowRzEyOUtrdVh4eDFlWmg3K3h2OWNKTmZVWXliaFJmS3Y4aldiSDk0ZmNFdEZWc0EvVjFtYnNSNlRVM2ZQZVF2SHlwd01WUGNqaE0vNUIxc3lpZVBWOGo2VkFBQUFBRWxGVGtTdVFtQ0MiLz4NCjwvc3ZnPg0K');
}

.footer__menu {
  li {
    margin-bottom: 13px;
    a {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: #fff !important;
    text-transform: uppercase;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer__menu_left {
  li {
    a {
    font-weight: 300;
    color: #babcbe !important;
    text-transform: none;
  }
      &:first-child {
        a {
       font-weight: 500;
       color: #fff !important;
       text-transform: uppercase;
      }
    }
  }
}

.footer__contacts {
  flex-direction: column;
}

.footer__phone {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer__callback {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: underline;
  color: #5baa00;
  margin-bottom: 13px;
}

.footer__address {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 13px;
}

.footer__email {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #969ba5;
}