//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	._container {
		padding: 0 10px; 
	}
}

@media (max-width: 1200px) {
  .house-card__body {
    flex: 0 1 24%;}
  .gallery-project__col {
    height: 590px;}
  .gallery-project__col_left {
    margin-right: 10px;}
  .gallery-project__img {
    flex: 0 1 49.5%;
    margin-bottom: 10px;}
  .team-card__body {
    flex: 0 1 24%;}
}

@media (max-width: 1100px) {
	.logo-icon:before {
    margin-right: 15px;}
  .header__menu {
    margin-right: 0px;}
  .house-card__text {
    padding: 25px 15px 13px 15px;}
  .house-card__price-item {
    padding: 0 15px 0 15px;}
}

@media (max-width: 1050px) {
	.logo-icon {
    flex: 0 0 180px;}
}

@media (max-width: 1024px) {
	.logo-icon {
    margin-right: 15px;}
  .menu a {
    padding: 3px 20px 3px 0;}
  .house-types__row {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;}
   ::-webkit-scrollbar {
    display: none;}
  .house-card__body {
    flex: 0 0 240px;
    margin-right: 15px;}
  .house-card__body:last-child {
    margin-right: 0;}
  .house-card__volume {
    margin-right: 10px;}
}

@media (max-width: 960px) {
	.logo-icon P {
    font-size: 16px;}
  .menu a {
  	font-size: 14px;
    padding: 3px 15px 3px 0;}
  .dignity__img {
    flex: 0 0 70px;
    height: 70px;
    margin-right: 10px;}
  .dignity__descp h6 {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 3px;}
  .dignity__descp p {
    font-size: 12px;
    line-height: 1;}
  .team__row {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;}
  .team-card__body {
    flex: 0 0 245px;
    margin-right: 15px;}
   .team-card__body:last-child {
    margin-right: 0;}
}

@media (max-width: 860px) {
	.logo-icon {
		flex: 0 0 70px;
    margin-right: 10px;}
	.logo-icon P {
    display: none;}
}

@media (max-width: 768px) {
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
	.header__row {
		min-height: 0px;}
	.icon-menu {
		display: block;
		flex: 0 0 20px;
    height: 14px;}
	.icon-menu span {
    top: 6px;}
  .icon-menu.active span:first-child { 
    top: 7px;}
  .icon-menu.active span:last-child {
    bottom: 5px;}
	.menu__body {
		display: none;}
	.header__callback {
		flex: 0 0 145px;
		margin-left: auto;
    margin-right: 20px;}
  .header__callback a {
  	font-size: 18px;}
  .header__menu {
  	display: none;}
  .header__popup-link {
  	display: none;}
  .header__popup-link_mob {
  	display: flex;
  	margin-left: 0;}
  .logo-icon {
    flex: 0 0 35px;
    height: 35px;}
  .logo-icon:before {
    flex: 0 0 100%;
    height: 100%;}
  .slider-index__slide {
  	padding: 70px 0 35px 0;}
  .swiper-button {
  	display: none;}
  .dignity {
    padding: 15px 0;}
  .dignity__row {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;}
  .dignity__item {
    flex: 0 0 245px;}
  .dignity__img {
    flex: 0 0 60px;
    height: 60px;
    margin-right: 8px;}
  .dignity__descp h6 {
    font-size: 13px;}
  .dignity__descp p {
    font-size: 12px;}
  section {
  	padding: 20px 0 !important;}
 	.info {
 		padding: 0 !important;}
 	.title {
    margin-bottom: 15px;}
  .about-project p {
  	font-size: 14px;
    line-height: 23px;}
  .house-card__body {
    flex: 0 0 250px;}
  .house-card__img {
    max-height: 160px;}
  .house-card__text {
    padding: 15px 15px 13px 15px;}
  .house-card__text h3 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 3px;}
  .house-card__descp {
    line-height: 1;}
  .house-card__volume {
    min-width: 50px;
    height: 35px;
    font-size: 16px;
    line-height: 1;}
  .house-card__price {
    font-size: 14px;
    line-height: 1;}
  .house-card__price-old {
    font-size: 12px;
    line-height: 1;}
  .gallery-project__col_left {
    flex: 0 1 60%;}
  .gallery-project__col {
    height: 380px;}
  .gallery-project__img {
    flex: 0 1 49%;
    height: 185px;}
  .team-card__img {
    max-height: 200px;}
  .team-card__img img {
    height: auto;}
  .team-card__text {
    padding: 10px 15px 10px 15px;}
  .team-card__contact {
    padding: 0 15px 0 15px;}
  .team-card__text h3 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 5px;}
  .team-card__descp {
    font-size: 13px;
    line-height: 1;}
  .team-card__line {
    margin-bottom: 10px;}
  .team-card__tel {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 3px;}
  .team-card__email {
    font-size: 14px;
    line-height: 1.2;}
  .index-map__map {
    height: 350px;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
	}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
	.gallery-project__col_left {
    flex: 0 1 80%;}
  .team-card__body {
    flex: 0 0 215px;}
}

@media (max-width: 540px) {
	.gallery-project__col_left {
    flex: 0 1 63%;
    margin-right: 5px;}
  .gallery-project__col {
    height: 265px;}
  .gallery-project__img {
    flex: 0 1 49.3%;
    height: 130px;
    margin-bottom: 5px;}
}

@media (max-width: 515px) {
	.header__callback {
    margin-right: 15px;}
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
	.slider-index__slide ._container {
  	padding-left: 10px;}
	.slider-index__slide p br {
  	display: none;}
  .about-project p {
  	text-align: justify;}
 	.index-map__map {
    height: 250px;}
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.mob-search {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
}

@media (max-width: 460px) {
	.gallery-project__col_left {
    flex: 0 1 85%;}
  .gallery-project__img {
    flex: 0 1 49%;}
  .gallery-project__btn {
    margin-top: 20px;}
}

@media (max-width: 375px) {
	.gallery-project__col {
    height: 245px;}
	.gallery-project__col_left {
    flex: 0 1 100%;}
  .gallery-project__img {
    height: 120px;}
}

@media (max-width: 340px) {
	.gallery-project__col {
    height: 205px;}
	.gallery-project__col_left {
    flex: 0 1 120%;}
  .gallery-project__img {
    height: 100px;}
}